* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}



.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}




/****** Header ***********/
.lien-hebergement {
    color:#0065FC;
    border-top-style: solid;
    margin-right: 69px;
    
}


.liens-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.logo img {

    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

/****** filtres ***********/

.filtre-button {
    margin-left: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.filtre-bar {
    display: flex;
    margin-bottom: 37.5px;
}


.filtre-txt {
    font-weight: 700;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.info-button {

    border-color: var(--main-bg-color);
    border-style: solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

.info-sentence{
    display: flex;
    align-items: center;
    margin-bottom: 37.5px;
    
}

.info-space {
    padding-left: 10px;
    
}

.recherche-txt {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 35px;
    
}

/****** formulaire de recherche de ville ***********/

.recherche.title {
    margin-bottom: 0px;
    margin-top: 60px;
}


.recherche-interface {
    display: flex;
flex-direction: row;
align-items: center;
width: 377px;
height: 49px;
border-style: hidden;
margin-bottom: 35px;
}

.recherche-symbole {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.recherche-champ {
    height: 43px;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: var(--main-bg-color);
    border-width: 2px;
    
}



.recherche-button {
    background-color: #0065FC;
    Height: 49px;
    width: 132px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-style: hidden;
border-radius: 0px 15px 15px 0px;
font-weight: 700;
color: white;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.hebergements img{
width: 240px;
height: 124px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
padding: 5px;
object-fit: cover;


}

.box {
border-radius: 20px;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
background-color: white;
display: flex;


}



.hebergements-elements1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 30px;
}

.hebergements-elements2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 30px;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.hebergements-elements1 .card-title, .card-subtitle {
   margin-top: 5px;
   margin-bottom: 5px;
}

.hebergements-elements2 .card-title, .card-subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
 }

.box-content .card-txt {
    margin-left: 15px;
}

.box-content .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites {
    width: 100%;
    margin-top: 65px;
    margin-left: 3%;
}

.activites img {
    width: 297.5px;
height: 380px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
object-fit: cover;
}



.activites-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.activites-txt {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    width: 297.5px;
    height: 59px;

}

.activites .card-title {
    padding: 20px;
}

/****** Footer ***********/
footer {
    width: 100%;
    background-color: var(--main-bg-color) ;
    margin-top: 65px;
    padding: 20px;
    height: 163px;
}

.footer {
    display: flex;
flex-direction: row;
align-items: flex-start;

}

.footer-column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
    
}

.footer-column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
  
}

.footer-column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
  
}

footer .footer-txt {
    margin-top: 15px;
    margin-bottom: 0;
}

footer .card-title {
    margin: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}