* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}



.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}




/****** Header ***********/


.lien-hebergement {
    color:#0065FC;
    border-top-style: solid;
    margin-right: 69px;
    
}


.liens-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.logo img {

    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 30px;

}

.header {
    margin-bottom: 60px;
}

/****** filtres ***********/



.filtre-button {
    margin-right: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.filtre-block{
    display: flex;
    flex-direction: row;
    margin-bottom: 37.5px;
}

.filtre-bar, .filtre-bar1 {
    display: flex;
}
 
.filtre-txt {
    font-weight: 700;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.info-button {

    border-color: var(--main-bg-color);
    border-style: solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    
}

.filtre-title {
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 15px;
}

.filtre-button:hover {
background-color: #DEEBFF;
}

.filtre-txt {
    font-size: 17px;
}

.recherche-button button {
    background-color: #0065FC;
    Height: 49px;
    width: 132px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-style: hidden;
border-radius: 0px 15px 15px 0px;
font-weight: 700;
color: white;
}

.recherche-button i {
    content-visibility: hidden;
}

.recherche-button button::before {
    content: attr(name);
}

.info-sentence{
    display: flex;
    align-items: center;
    margin-bottom: 37.5px;
    
}

.info-space {
    padding-left: 10px;
    
}

.recherche-txt {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 35px;
    
}

/****** formulaire de recherche de ville ***********/

.recherche.title {
    margin-bottom: 0px;
    margin-top: 60px;
}


.recherche-interface {
    display: flex;
flex-direction: row;
align-items: center;
width: 377px;
height: 49px;
margin-bottom: 35px;
border-style: solid;
border-color: var(--main-bg-color);
border-width: 1px;
border-radius: 15px;
}

.recherche-symbole {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.recherche-champ {
    height: 43px;
    text-align: center;
    font-weight: 700;
    width: 195px;
  
    
}
.recherche-interface input {
    border-style: none;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: white;
    
}

.hebergements img{
width: 240px;
height: 124px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
padding: 5px;
object-fit: cover;


}

.box {
border-radius: 20px;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
background-color: white;
display: flex;


}



.hebergements-elements1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 30px;
}

.hebergements-elements2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 30px;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.hebergements-elements1 .card-title, .card-subtitle {
   margin-top: 5px;
   margin-bottom: 5px;
}

.hebergements-elements2 .card-title, .card-subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
 }

.box-content .card-txt {
    margin-left: 15px;
}

.box-content .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites {
    width: 100%;
    margin-top: 65px;
    margin-left: 3%;
}

.activites img {
    width: 297.5px;
height: 380px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
object-fit: cover;
}



.activites-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.activites-txt {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    width: 297.5px;
    height: 59px;

}

.activites .card-title {
    padding: 20px;
}

/****** Footer ***********/
footer {
    width: 100%;
    background-color: var(--main-bg-color) ;
    margin-top: 65px;
    padding: 20px;
}

.footer {
    display: flex;
flex-direction: row;
align-items: flex-start;

}

.footer-column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
    
}

.footer-column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
  
}

.footer-column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 446.67px;
  
}

footer .footer-txt {
    margin-top: 15px;
    margin-bottom: 0;
}

footer .card-title {
    margin: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   .filtre-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }
   
   .filtre-block {
    display: flex;
flex-direction: row;
align-items: center;
   }

   .filtre-txt {
    font-size: 16px;
   }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites img {
        width: 193.5px;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    }

    .activites-txt {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 20px 20px;
        width: 193.5px;
        height: 70px;
    }

    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
/****** header ***********/
.main-container {
    padding: 20px;
   
}



/****** recherche***********/


.recherche-button button::before {
content: none;
}

.recherche-button i {
    content-visibility: visible;
}

.recherche-button button {
    border-radius: 15px;
    width: 49px;
    border: 1px solid #0065FC;
}

.recherche-interface {
    width: 335px;
}

.recherche-champ {
    width: 210px;
    text-align: left;
    padding-left: 24px;
}

/******filtres ***********/
.filtre-bar {
    width: 335px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   }
   .filtre-bar1{
    margin-bottom: 15px;
    display: flex;
   }
   
   .filtre-block {
    width: 335px;
    display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
margin-bottom: 20px;
   }

   .filtre-button {
    width: 158.5px;
    height: 50px;
    margin: 2px;
    padding: 0px;
    gap: 10px;
   }

   .filtre-txt {
    font-size: 14px;
   }

/******info ***********/
.info-space {
    margin: 0;
}

.info-sentence{
    width: 335px;
    display: flex;
flex-direction: row;
align-items: center;
}


/******hebergements et populaires ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
}

.hebergements-and-populaires section {
    background-color: white;
    padding: 0;
  
}
/****** populaires ***********/
.populaires {
    width: 100%;
    margin-top: 0;
    margin-bottom: 65px;
    background-color: #F2F2F2;
    
}

section .populaires {
    background-color: #F2F2F2;
    
  
}
.populaires-cards {
   width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 111.67px;
    height: 146px;
    object-fit: cover;
}

.populaires-cards .card {
    width: 100%;
}




/****** hebergements ***********/
.hebergements {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.hebergements img{
    width: 335px;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    object-fit: cover;
    
    
    }

.hebergements-elements1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.hebergements-elements2 {
    display: flex;
    flex-direction: column;
   align-items: center;
}


/****** activites ***********/
.activites img {
    width: 315px;
    height: 141px;
}

.activites-txt {
    width: 315px;
height: 59px;

}

.activites-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.activites {
margin-left: 0px;
}
/****** footer ***********/

footer {
    width: 100%;
    padding: 10px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.footer-column1 {
    margin-bottom: 50px;
}

.footer-column2 {
    margin-bottom: 50px;
}


}
